files:
  "/opt/elasticbeanstalk/hooks/appdeploy/pre/01_download_addresses.sh":
    mode: "000755"
    owner: root
    group: root
    content: |
      #!/usr/bin/env bash
      cd /tmp && { curl -O https://s3-us-west-1.amazonaws.com/storeuser-publicbucket/addresses/openaddr-collected-us_west.zip ; cd -; }